body{
  margin:0;
  padding:0;
  background: url("butter.jpg")no-repeat;
background-position:center;
background-attachement:fixed;
  background-size: cover;
 }
table{
   border-collapse:collapse;
}
table th{
  text-align:left;
  background-color: #3a6070;
  color:#FFF;
  padding:4px 30px 4px 8px;
}
table td{
 border:1px solid #e3e3e3;
 padding:4px 8px;
}
table tr:nt-child(odd) td{
 background-color:#e7edf0;
}