body{
  margin: 0;
  padding: 0;
  background: url("dub.jpg") no-repeat;
  background-size: cover;
  background-attachement:fixed;
  background-position:center;
  height:800px;
font-family: "Lato",sans-serif;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.sidenav{
  height:30%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  overflow-x:hidden;
  transtition:0.5s;
  padding-top:60px;
}
.sidenav a{
  padding:8px 8px 8px 32px;
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block;
  transtition:0.3s;
}

.sidenav a:hover{
 color:#f1f1f1;
}
.sidenav .closebtn{
   position:absolute;
   top:0;
   right:25px;
   font-size:36px;
   margin-left:50px;
}
#main{
  transtition:margin-left .5s;
  padding:16px;
}
@media screen and (max-height:450px){
  .sidenav {padding-top:15px;}
  .sidenav {font-size:18px;}
}
.box{
 width: 530px;
 height:500px;
 background: rgba(0,0,0,0.3);
 padding: 40px;
 text-align: center;
 margin: auto;
 margin-top: 5%;
 color: white;
 font-family: 'Century Gothic',sans-serif;
}
.box-img{
 border-radius: 50%;
 width: 190px;
 height: 180px;
}
.box h2{
 font-size: 20px;
 letter-spacing: 2px;
 font-weight: 50;
}
.box h5{
 font-size: 15px;
 letter-spacing: 1px;
 font-weight: 50;
}
.box p{
 text-align: justify;
}
ul{
 margin: 0;
 padding: 0;
}
.box li{
 display: inline-block;
 margin: 6px;
 list-style: none;
}
.box li a{
 color: white;
 text-decoration: none;
 font-size: 50px;
 transition: all ease-in-out 250ms;
}
.box li a:hover{
 color: #b9b9b9;
}